/* Common css Style */
* {
  margin: 0px;
  padding: 0px;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
/* Navbar Section Starts */
.navbar-flexible-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}
.navbar-img img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin: 10px 20px;
}
.navbar-menu ul {
  display: flex;
}
.navbar-menu ul li {
  list-style-type: none;
}
.navbar-menu ul li a {
  text-decoration: none;
  padding: 30px;
  font-size: 20px;
  color: #ffffff;
}
.navbar-menu ul li a:hover {
  color: black;
}
/* Navbar Section Ends */
/* Header Section Starts */
.header-section {
  background-color: rgba(192, 161, 166, 0.4);
}
.header-flexible-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 50px 0;
}
.header-taxt h1,
h3,
h4,
p {
  margin-bottom: 10px;
}
.header-taxt p {
  font-size: 1.5rem;
}
.header-taxt h1 {
  font-size: 2.5rem;
  text-transform: uppercase;
}
.color {
  color: #ffa500;
}
.header-taxt h3 {
  text-transform: uppercase;
  font-size: 1.5rem;
}
.header-taxt .btn, .products-btn, .update-btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff0000;
  color: #ffffff;
  border: none;
  border-radius: 5px;
}
.btn:hover,.update-btn:hover, .products-btn:hover{
    background-color: #0000ff;
}
/* Header Section Ends */
/* Service Section Starts  */
.service-felxible-container {
  display: flex;
  margin: 100px;
  padding: 20px;
}
.service-header, .update, .footer {
  text-align: center;
  margin-top: 50px;
  font-size: 3rem;
}
.service-header span,
.color {
  color: #ffa500;
}
.service-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
  box-shadow: 10px 10px 50px gray;
  margin-right: 40px;
  border-radius: 10px;
  background-color: rgb(153, 128, 132);
}
.card-icon img {
  width: 100px;
  height: 100px;
  margin-right: 15px;
}
/* Service Section Ends  */
/* Products Section Starts */
.products-section h1 {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
  font-size: 3rem;
}
.labtop {
  margin-left: 120px;
}
.products-flexible-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 100px;
}
.products-flexible-container img {
  width: 200px;
  height: 150px;
}
.product-card{
    margin: 20px;
    box-shadow: 10px 10px 50px gray;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}
/* Products Section Ends */

/* Updates Section Starts */
.update-flexible-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.email{
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}
/* Updates Section Ends */
/* Footer Section Starts */
.footer{
    background-color: #000000;
    color: wheat;
    margin-top: 50px;
    padding: 10px;
}
/* Footer Section Ends */
